.wholePage{
    background-color: rgb(218 212 212);
    height: 80vh;
}

.box{
    background-color: rgb(233, 230, 230);
    width: 50vw;
}

.image{
    height: 20vh;
    width: 48vw;
}

.body{
    background-color: white;
}

.payOptions{
    font-size: 15px;
}

.highlighted {
    background-color: rgb(29 76 134);
    color: white;
    border-radius: 5px;

}
