.sidebar {
    border-right: 1px solid grey;
    overflow-x: hidden;
    height: calc(100vh - 81px);
}


.expanded {
    width: 15%; 
}

.collapsed {
    width: 35px; 
}

.main-content {
    background-color: #f7f7f5;
    padding: 20px;
    height: 100svh; 
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    padding-bottom: 10px;
    max-height: 100svh;
}

.header-left {
    margin-bottom: 0;
}

.header-title {
    margin-left: 5px;
}


.resource-item {
    cursor: pointer;
    padding: 5px; 
}

.resource-item[data-selected='true'] {
    background-color: blue; 
}
