.main-content {
    background-color:lightslategray;
}

.faded-background {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.faded-background.loading {
    opacity: 0.3;
}

.slds-border_bottom {
    border-bottom: 2px solid black; 
}

.slds-m-top_medium {
    margin-top: 16px; 
}

.header-title {
    margin-left: 5px;
}

.header{
    margin-top: 30px;
}

.header-left{
    margin-left: 10px;
}

.body{
    margin-left: 10px;
}

