.sidebar {
    border-right: 1px solid black;
    overflow-x: hidden;
    height: calc(100vh - 81px);
}

.expanded {
    width: 21%; 
}

.collapsed {
    width: 35px; 
}

.main-content {
    background-color:rgb(228, 244, 240);
    padding: 20px;
    max-height: 100svh; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.header-left {
    margin-bottom: 0;
}

.header-title {
    margin-left: 5px;
}

.google-drive-icon {
    width: 24px; 
    height: 24px; 
}

.slds-dropdown-trigger {
    width: 110px; 
}

.custom-button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.card{
    height: 50px;
}

.slds-modal {
    max-width: 900px;
}

.slds-modal__header {
    background-color: rgb(183, 170, 170); 
    border-bottom: 1px solid #d8dde6; 
}

.slds-modal__content {
    padding: 1rem; 
    background-color: rgb(183, 170, 170);
}

.uploaded-file-name {
    margin-top: 10px;
    font-weight: bold;
    display: block; 
}

.slds-modal__footer lightning-button {
    margin-left: 0.5rem; 
}

.custom-thead {
    background-color: #f4f6f9; 
    height: 40px; 
}

.custom-thead th {
    vertical-align: middle; 
    padding: 10px; 
}

.slds-modal__container {
    padding: 20px;
    border-radius: 8px;
}

.slds-modal__footer {
    background-color: rgb(183, 170, 170); 
}

.slds-modal__close {                    
    background-color: rgb(183, 170, 170);
    color: white;
}

.selected-email {
    background-color: rgb(184, 180, 180); 
}

.delete-button-right {
    float: right;
    margin-right: 15px;
}

