.sidebar {
    border-right: 1px solid black;
    overflow-x: hidden;
    height: calc(100vh - 81px);
}

.expanded {
    width: 15%; 
}

.collapsed {
    width: 35px; 
}

.main-content {
    background-color:rgb(228, 244, 240);
    padding: 20px;
    max-height: 100svh; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.header-left {
    margin-bottom: 0;
}

.header-title {
    margin-left: 5px;
}

.google-drive-icon {
    width: 24px; 
    height: 24px; 
}

.slds-dropdown-trigger {
    width: 110px; 
}

.custom-button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.card{
    height: 50px;
}

